[core]
	excludesfile = ~/.gitignore_global
	editor = code -w
[user]
	email = josh@jmarchello.com
	name = Josh Marchello
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[difftool "vimdiff"]
	path = /home/jmarchello/.local/bin/lvim
[diff]
	tool = vimdiff
	colorMoved = zebra
[mergetool "vimdiff"]
	path = /home/jmarchello/.local/bin/lvim
[mergetool "fugitive"]
  cmd = '/home/jmarchello/.local/bin/lvim -c Git mergetool'
[merge]
	conflictStyle = diff3
	tool = fugitive
[status]
	short = true
[mergetool]
	keepBackup = false
[alias]
	amend = commit --amend
	heatmap = !git-heatmap
	open = !/usr/bin/gh browse \"$@\"
	aa = add --all
	files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")
	stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
	review = !lvim -p $(git files) +\"tabdo Ghdiffsplit $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"
	reviewone = !lvim -p +\"tabdo Gvdiffsplit $REVIEW_BASE\" +\"let g:gitgutter_diff_base = \"$REVIEW_BASE\"
	ca = commit --amend
	caa = !git aa && git ca
	pull-main = !git fetch origin \"$REVIEW_BASE\":\"$REVIEW_BASE\"
	mt = mergetool
	co = checkout
	pr = !gh pr checkout
