[core]
	excludesfile = ~/.gitignore_global
	editor = lvim
[user]
	email = josh@jmarchello.com
	name = Josh Marchello
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[difftool "vimdiff"]
	path = /home/jmarchello/.local/bin/lvim
[diff]
	tool = vimdiff
	colorMoved = zebra
[mergetool "vimdiff"]
	path = /home/jmarchello/.local/bin/lvim
[merge]
	ff = only
	conflictStyle = diff3
	tool = vimdiff
[pull]
	ff = only
[status]
	short = true
[mergetool]
	keepBackup = false
[alias]
	amend = commit --amend
	heatmap = !git-heatmap
