[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[user]
	email = josh@jmarchello.com
	name = Josh Marchello
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[diff]
	tool = vimdiff
	colorMoved = default
[merge]
	tool = vimdiff
[status]
	short = true
[mergetool]
	keepBackup = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[fetch]
	prune = true
[pull]
	rebase = false
